@font-face {
  font-family: "playfair";
  src: url(font/playfairdisplay-blackitalic-webfont.woff) format("woff");
}

h1 {
  font-size: 60px;
  font-family: "playfair";
  color: rgb(255, 219, 251);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

p {
  color: rgb(255, 253, 224);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.p2 {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;

  padding-top: calc(100% / (16 / 9));
}

iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

html {
  background-color: rgb(248, 208, 255);
}

.tekst {
  background-image: url(img/kea.webp);
  padding-bottom: 300px;
  margin-bottom: 20px;
  padding-left: 30px;
  background-size: cover;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 50px;
}
